@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.font-bold {
    font-weight: 700;
}

.font-regular {
    font-weight: 300;
}

.bg-pink {
    background-color: #fad9ec;
}

.blue {
    color: #3142c6;
}

.gray {
    color: #2b292e;
}

.white {
    color: white;
}

.light-blue {
    color: #f0f8fa;
}

.logo {
    width: 51px;
    height: 50px;
}

.btn-default {
    background-color:#3142c6 !important;
    border-radius: 0 !important;
}

.btn-primary {
    background-color:white !important;
    border-radius: 0 !important;
    color: #3142c6 !important;
    border-color: white !important;
}

.title-header {
    font-size: 45px;
}

.sub-header {
    font-size: 20px;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.img-woman {
    width: 100%;
}

.img-person {
    width: 50%;
}

.img-center {
    display: block;
    margin: 0 auto;
}

/*Box shadow */

.box-shadow {
    box-shadow: inset 10px 10px 8px -10px #CCC, inset -10px -10px 8px -10px #CCC;
}
.content-box-wrapper .content-box h4{
  font-weight: 500;
}

.content-box-wrapper .content-box p{
  color: #777;
  font-size: 18px;
  text-align: center;
}
.content-box{
    text-align: center;
    padding: 15px;
    height: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.content-box:hover{
    background:#fff;
    box-shadow: 2px 2px 15px 0 rgba(135,135,135, 0.4);
    transition: all 0.5s ease 0s;
}
.content-box .finbyz-icon img{
    height:85px;
}
.content-box .finbyz-icon{
    margin: 0 auto;
}
